.button-dark-link {
    text-decoration: none;

    .button-dark {
        display: block;
        margin: 0 6rem;
        border: 1px solid rgba(0, 255, 0, 1);
        border-radius: 3.6rem;
        padding: 1.8rem 3.6rem;
        transition: background-color .2s ease;

        .button-dark-text {
            color: rgba(237, 237, 237, 1);
            font-size: 1.8rem;
            font-weight: 600;
            transition: color .2s ease;
        }

        &:hover {
            background-color: rgba(0, 255, 0, 1);
            cursor: pointer;

            .button-dark-text {
                color: rgba(18, 18, 18, 1);
            }
        }
    }
}