.search {
    display: grid;
    grid-template-columns: 42rem 1fr;
    min-height: 100vh;
    background-color: rgba(237, 237, 237, 1);


    .filters {
        background-color: rgba(237, 237, 237, 1);
        align-self: start;
        position: sticky;
        top: 7.8rem
    }

    .rooms {
        background-color: rgba(216, 216, 216, 1);
        align-self: stretch;
    }

    .filter-element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 3rem 3rem 0;
    }

    .filter-label {
        color: rgba(18, 18, 18, 1);
        margin-bottom: .6rem;
        font-size: 1.6rem;
        font-weight: 500;
    }

    .filter-input {
        //all: unset;
        padding: .7rem;
        width: 100%;
        background-color: rgba(216, 216, 216, 1);
        border-radius: 1.8rem;
        border: .1rem solid rgba(216, 216, 216, 1);
    }

    .filter-range-input {
        width: 100%;
    }

    .filter-checkbox-input {
        display: none;

        &:checked {

            &+::before {
                background-color: rgba(18, 18, 18, 1);
            }
        }
    }

    .filter-checkbox-text {
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(18, 18, 18, 1);

        &::before {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            width: 3rem;
            height: 3rem;
            margin-right: 1.5rem;
            background-color: rgba(237, 237, 237, 1);
            border-radius: 1.8rem;
            border: .1rem solid rgba(204, 204, 204, 1);
        }
    }

    .filter-reset {
        text-decoration: none;
        display: block;
        width: 100%;
        background-color: rgba(18, 18, 18, 1);
        border-radius: 3.6rem;
        padding: 1.8rem 1.8rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgba(237, 237, 237, 1);
    }

    .rooms-element {
        margin: 3rem 3rem 0;
        background-color: rgba(237, 237, 237, 1);
        display: flex;
    }

    .rooms-image-container {
        width: 50%;
        aspect-ratio: 16 / 9;
        padding: 3rem;
    }

    .rooms-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }

    .rooms-info {
        width: 50%;
        padding: 3rem 3rem 3rem 0;

    }

    .rooms-heading {
        display: flex;
    }

    .rooms-title {}

    .rooms-title-text {
        font-size: 2.7rem;
        font-weight: 500;
        color: rgba(18, 18, 18, 1);
    }

    .rooms-price {}

    .rooms-price-text {
        font-size: 2.7rem;
        font-weight: 500;
        margin-left: 3rem;
        color: rgba(18, 18, 18, 1);
    }

    .rooms-details {
        display: flex;
        list-style-type: none;
        margin-top: 1.2rem;
        color: rgba(18, 18, 18, 1);

        li {
            margin-right: 3rem;
            display: flex;
            align-items: center;

            svg {
                height: 1.8rem;
                margin-right: 1.5rem;
            }

            span {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

    }

    .rooms-description {
        margin-top: 1.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.8;
    }
}