.slider {
    display: grid;
    position: relative;

    .banner-arrows {
        display: flex;
        position: absolute;
        bottom: 24rem;
        right: 0%;
        z-index: 1;
    }

    .banner-left-arrow {
        all: unset;
        aspect-ratio: 1 / 1;
        width: 7.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 255, 0, 1);
        transition: background-color .2s ease;

        .banner-left-icon {
            width: 1.8rem;
            fill: rgba(18, 18, 18, 1);
            transition: fill .2s ease;
        }

        &:hover {
            background-color: rgba(18, 18, 18, 1);
            cursor: pointer;

            .banner-left-icon {
                fill: rgba(0, 255, 0, 1);
            }
        }
    }

    .banner-right-arrow {
        all: unset;
        aspect-ratio: 1 / 1;
        width: 7.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 255, 0, 1);
        transition: background-color .2s ease;

        .banner-right-icon {
            width: 1.8rem;
            fill: rgba(18, 18, 18, 1);
            transition: fill .2s ease;
        }

        &:hover {
            background-color: rgba(18, 18, 18, 1);
            cursor: pointer;

            .banner-right-icon {
                fill: rgba(0, 255, 0, 1);
            }
        }
    }
}